@font-face {
    font-family: 'MidNight' ;
    src: url('./images/MidNight.otf');
}


*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1500px;
    
        margin:0 auto;
        background: none;
        
    }
.head{
    width: 100%;
    height: 50px;
    background: rgb(37, 37, 37);
}
.logo{
   padding-top: 10px;
   margin-left: 10px;
    float: left;
    color: brown;

    
   
}

.contact{
    float: right;
    color: white;
    margin-right: 20px;
    padding-top: 10px;

}
.btn{
    width: 100px;
    height: 20px;
    background: lightgreen;
    
}
.call{
    font-family: sans-serif;
    font-size: 10px;
    padding-top: 2px;
}
.d{
    color: lightgreen;
   
}
.b{
    letter-spacing: 10px;
    }

    .abc{
        
        background: url('../images/abc.jpg');
    
      width: 100%;
        height: 100px;
    
        background-size:100%;
    
        background-attachment: fixed;
        background-repeat:no-repeat; 
        
          
    }


    .pana{
        font-family: MidNight;
        font-size: 40px;
        color: lightgreen;
        line-height: 30px;
        float: left;
    }
    .cloud{
        font-family: MidNight;
        font-size: 40px;
        line-height: 20px;
        color: black;
        
    }
    
    .nav{
    
    float: right;
    padding-top: 10px;
    
    
        
       
       
        
       
        
        
    }
    .nav ul{
        list-style: none;
        font-family:sans-serif ;
        margin-right: 20px;
        
        position: relative;
        
        
    }
    .nav ul li{
        display: inline-block;
        margin-right: 20px;
       
        
       
       ;
       
       position: relative;
       
       
    }
    .nav ul li a{
    text-decoration: none;
    color: black;
    
     
    }
    .nav a:hover{
    
    color: darkslateblue;
    
    transition: ease 1s;
    box-shadow: 0 0 10px blueviolet, 0 0 20px blue, 0 0 30 black;
    }
    
    .nav ul li a:active{
        color: rgba(17, 255, 231, 0.924);
        
        
        
        
    }
    
    .nav li ul{
        display: none;
    
    }
    .nav li ul:hover li{
        display: block;
        
    
       
    }
    .nav   li:hover ul{
        display: block;
        position: absolute;
        
    
    }
    .slider{
        width: 100%;
        height: 300px;
        background: lightgreen;
        
    }
    
    
    
    .container1{
        width: 700px;
    
        margin: 0 auto;
        padding-top: 30px;
    }
    .we{
        font-size: 20px;
        font-family: Noto Sans CJK JP Bold , sans-serif; 
        color: white;
    }
    .lo{
        font-size: 15px;
        font-family: Noto Sans CJK JP Bold , sans-serif; 
        color: white;
        padding-top: 30px;

    }
    
    .bank{
        width: 120px;
        height: 30px;
        background: rgb(224, 224, 14);
        box-shadow: 5px 3px 3px rgb(209, 197, 197);
        margin-top: 30px;
    }
    .container5{
    width: 960px;
    margin: 0 auto;
    }
    .h{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        color: black; padding-top: 30px;
    
    }
    .folio{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        color: green;
    }
    .le{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 20px;
    }
    ul{
        
    }
    li{
        display: inline-block;
        margin-right: 20px;
        margin-top: 20px;
    }
    .GO{
        color: red;
    }
    .port1{
        
            width: 100%;
            height: 500px;
            background: rgb(255, 255, 255);
            
           
        }
    }
    .po{
        font-family:  Verdana, Geneva, Tahoma, sans-serif;
        
    }    
    footer{
        background-color: rgba(5, 99, 5, 0.91);
        width: 100%;
        min-height: 57vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    .main-con{
        width: 90%;
        min-height: 45vh;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    
        grid-gap: 20px;
        
    }
    .footer{
        /* padding-bottom: 15px; */
        padding-top: 50px;
        width: 100%;
        height: 40vh;
        text-align:left;
        padding-left: 30px;
        color:white;
    }
    .footer h3{
        padding-bottom: 15px;
        padding-top: 15px;
        text-transform: uppercase;
        color:white;
    }
    .footer li{
        list-style: none;
        text-decoration: underline;
        padding:5px;
    }
    .footer img{
        padding-bottom: 30px;
    }
    .footer a{
        text-decoration: none;
        color: white;
    }
    
    /* -------- end--------- */